table {
    border: 1px solid black;
    text-align: center;
    width: auto;
}

th {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: green;
}

th:empty {
    border: 1px solid black;
    background-color: gray;
}

td {
    color: white;
    background-color: blue;
}

td:empty::before {
    content: "--";
}

td:empty {
    border: 3px solid black;
    background-color: rgb(199, 197, 197);
    color: black;
}

.nome {
    color: white;
    background-color: rgb(154, 194, 255);
}